* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #e1dcdc;
  background-image: url("https://images.unsplash.com/photo-1567095761054-7a02e69e5c43?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=687&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: "Roboto", sans-serif;
  
}

#calculator {
  width: 400px;
  height: 600px;
  background-color: #9a5151;
  display: grid;
  grid-template-columns: repeat(4, 80px);
  grid-template-rows: minmax(130px, auto) repeat(6, 80px);
  justify-content: center;
  border-radius: 20px;
  box-shadow: 0 0 15px #000;
  margin: auto;
  margin-top: 150px;
  padding: 20px;
}

#calculator button {
  background-color: #e1dcdc;
  outline: none;
  border: 1px #000000 solid;
  border-radius: 50%;
  cursor: pointer;
  font-size: 1.5rem;
  box-shadow: 0 0 5px #000;
  margin: 3px;
}

#calculator button:hover {
  background-color: #e08080;
  color: wheat;
}

.display {
  width: 100%;
  height: 120px;
  background-color: #e2cece;
  grid-column: 1 / -1;
  text-align: end;
  border-radius: 5px;
}

.superior_value {
  font-size: 2em;
  color: #1f1d1d;
  padding: 10px;
  margin: 3px;
}

.inferior_value {
  font-size: 2.5rem;
  color: #272525;
  margin: 10px;
}
#span2 {
  grid-column: span 2;
}

#span3 {
  grid-column: span 2;
}
